body{
    margin: 0px;
}
.navbar{
    display: flex;
}
.img{
    height:45px;
    width:45px ;
    margin-left: 30px;
    margin-top: 10px;
}
h1{
    margin-left: 10px;
    margin-bottom: 20px;
}
input{
    margin-left:200px;
    height: 40px;
    margin-top: 10px;
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
}
.img1{
    height:25px;
    margin-left: 400px;
    margin-top: 25px;
}
.img2{
    height:25px;
    margin-left: 25px;
    margin-top: 23px;
}
.img3{
    height:25px;
    margin-left: 100px ;
    margin-top: 22px;
}
.img4{
    border-radius: 50%;
    height: 30px;
    margin-left: 20px;
    margin-top: 19px;
}
.container{
    display: flex;
}
.left_side{
    height:100%;
    width:240px;
}
#new{
    margin-top: 10px;
    height:50px;
    width:150px;
    margin-left: 10px;
    border-radius: 20px;
    background-color: #ffffff;
    font-size: larger;
    box-shadow: -1px 1px 13px 6px rgba(110,110,110,1);
    cursor: pointer;
}
.btn_side{
    margin: 2px;
    display: block;
    color:blue;
    border:none;
    width:230px;
    height:50px;
    background-color: white;
    border-top-right-radius: 30px 20px;
    border-bottom-right-radius: 30px 20px;
}
.lside{
    display: inline;
    margin-right: 30px;
    margin-left: 0px;
}
.container1{
    height: 100%;
    width:78%;
}
.bt{
    border-bottom: 1px solid rgb(177, 175, 175);
    display: flex;
    height: 50px;
    width: 100%;
}
.bt > h3{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 15px;
}
#btn1{
    margin-left: 80%;
    height: 30px;
    width: 80px;
    box-shadow: -1px 1px 13px 6px rgba(110,110,110,1);
    margin-top: 10px;
}
#btn2{
    margin-left: 5%;
    margin-top: 10px;
    height: 30px;
    width: 80px;
    box-shadow: -1px 1px 13px 6px rgba(110,110,110,1);
}
#btn1, #btn2:hover{
    cursor: pointer;
}
.box{
    display: flex;
}
.box1{
    background-color: white;
    margin: 10px;
    height: 170px;
    width: 220px;
    border: 1px solid #ABABAB;
    border-radius: 0.25rem;
    padding: 0.5rem;
    cursor: pointer;
}
.grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
     grid-auto-rows: repeat(3, 1fr);
    display: none;
}
.grid_line{
    border-bottom: 1px solid black;
    margin: 30px;
}
.display_none{
    display: none;
}
.display_show{
    display: initial;
}
.sub_div{
    display: flex;
    position: sticky;
    top: 0;
    background-color: white;
}
.sub_div{
    display: flex;
    position: sticky;
    top: 0;
    background-color: white;
}